#wrapper  
  .content
    h1 Control de im&aacute;genes

    .image_list.approved
      h2 Imágenes Aprobadas
      ul
        each img in imagenes
          -if(img.checked) 
            li
              a.grouped_elements(href="#{img.path}")
                img(src="#{img.path}", alt="#{img.id}")
              input.check(type="checkbox", id="#{img.id}", checked='checked')

    .image_list.not-approved
      h2 Imágenes Sin Aprobar
      ul
        each img in imagenes
          -if(!img.checked) 
            li
              a.grouped_elements(href="#{img.path}")
                img(src="#{img.path}", alt="#{img.id}")
              input.check(type="checkbox", id="#{img.id}")
